body{
background-color:rgba(251, 235, 0, 0.885);
color:crimson;
font-family: sans-serif;
margin-bottom:100px;
}
header{
    border-bottom: solid 2x green;
    padding: 20px;
    font-size: 30px;
    color:purple;
}

section {
    background-color:white;
    padding-bottom:80px;
    padding-top:80px;
    display:flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}